.cover{
    align-items: center;
    max-height:100vh;
}
.h1{
    text-align: center;
}
#top{
    right: 0 !important;
    padding: 0 !important;
    display:grid;
    place-items: left !important;
}
.jumbotron{
    max-width: 100vw;
    margin-left: 0;
}
.jumbo{
    left:0 !important;
    max-width: 100% !important;
}
@keyframes updown {
    0% {
      transform: translateY(-50%);
    }
  
    50% {
      transform: translateY(0%);
    }
  
    100% {
      transform: translateY(-50%);
    }
  }
#tbtn{
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    animation: updown 2s ease infinite;
}
.side{
    max-width: 6rem !important;
    right: 5vw !important;
    top: 100%;
    position:sticky !important;
    top:50%;
    z-index: 1;
}
#summary{
    text-align: center;
    top:0;
    margin-top: 0;

}
.glyphicon img{
    z-index: 1;
    animation: updown 2s ease infinite;
    position: absolute;
    top: 41%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 2.5rem;
    width: 3rem;
}
.glyphicon{   
    position: absolute;
    top: 93vh;
    left: 89.9vw;
    transform: translate(-50%, -50%);
    background-color: #D3B4A0;
    border: .2rem solid rgba(92, 12, 177, 0);
    height: 5rem;
    width: 6rem;
}
header span{
    position: fixed;
    z-index: 1;
    top: 0;
    height: 5rem;
    width: 10rem;
    left:0;
    bottom: 0;
}
.covername{
    color: blanchedalmond;
    text-shadow: 2px 2px #82394C;
    text-decoration:wavy;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lead{
    color: blanchedalmond;
    text-shadow: 2px 2px #82394C;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body{
    min-height: 100vh;
    display: flexbox;
}
nav{
    padding: none;
    max-width: fit-content;
    min-height: fit-content;
    z-index: 1;
    top: 10%;
    position: sticky;
    transform: translate(50vw, 50vh);
}
.profileline{
    display:inline-block;
    width: 100%;
}
table tr:hover{
    background-color: #986366;
}
table a:hover{
    background-color: #986366;
}
table{
    background-color: #D3B4A0;
    border: .1rem solid #DC9EA1;
}
table a{
    text-align: center;
    background-color: #D3B4A0;
    color: white !important;
}
ul li{
    list-style: none;
    max-width: 18rem;
    align-content: center;
    text-align: left;
}
ul li:hover{
    background-color: #DC9EA1;
}