.cover{
    align-items: center;
    max-height:100vh;
}
.h1{
    text-align: center;
}
#top{
    right: 0 !important;
    padding: 0 !important;
    display:grid;
    place-items: left !important;
}
.jumbotron{
    max-width: 40%;
    margin-left: -1;
}
#tbtn{
    height: 2.5rem;
    width: 2.5rem;
}
.side{
    max-width: 10rem;
    right: 0;
    background-color: blanchedalmond;
    border: .1rem solid black;
    top: 25%;
    position: fixed;
}
ul{
    list-style: none;
    border: .2rem solid rgba(92, 12, 177, 0);
}
.glyphicon{
    position: fixed;
    z-index: 1;
    height: 5rem;
    width: 10rem;
    left:0;
    bottom: 0;
}
.overlay{
    color: rgb(56, 56, 57);
    opacity: .9;
}
.covername{
    color: blanchedalmond;
    text-shadow: 2px 2px #82394C;
    text-decoration:wavy;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lead{
    color: blanchedalmond;
    text-shadow: 2px 2px #82394C;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}