
h1,h2,h3{
    color:rgb(67, 67, 166);
    font-weight: 100;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top{
    margin-top: 1rem;
}
ul li{
    min-width: fit-content;
}
ul a:hover{
    background-color: blueviolet !important;
    border: .1rem solid #000 !important;
}
.side{
    z-index: 1;
    align-items:right;
    position: fixed;
    min-height: fit-content;
    min-width: fit-content;
    right: 0;
    top: 25%;
    background-color: azure;
    border: .1rem solid #000;
}
#tbtn{
    position: sticky;
    top:0;
    border-radius: .3rem;
    border: .1rem solid white;
    background-color: white;
    bottom: 0;
    left:1rem !important;
    height: 2rem;
    width: 2rem;
    z-index: 1;
}
span{
    display: inline-flex;
    align-content: space-between;
}
nav{
    display: flex;
}
li{
    display:list-item;
    width:25%;
}
#skills{
    align-content:center;
    margin: 1rem;
    border-top:1rem;
}
ul{
    list-style: none;
    list-style-position:inherit;
}
.container{
    align-content: space-around;
}
.col-6{
    border-style:inset;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(67, 67, 166) !important;
}